In [ ]:
#Problem
#Determine Goal

# 0 - PRELIMINARIES

In [61]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [17]:
# open existing database
conn = sqlite3.connect('../data/profiles.sqlite')
c = conn.cursor()

In [25]:
#make sure connection works
c.execute('SELECT * FROM HOS_PROFILE')
col_name_list = [tup[0] for tup in c.description]
print "Column Names: "
print col_name_list

Column Names:
['CASE_ID', 'AGEGRP', 'RACE', 'GENDER', 'MRSTAT', 'EDUC', 'BMI', 'GENHTH', 'MODACT', 'CLMBSV', 'PACMPL', 'PLMTKW', 'EACMPL', 'ENTCRF', 'PNINTF', 'PCEFUL', 'ENERGY', 'BLSAD', 'SCLACT', 'ASHLTH', 'ASEHLTH', 'DIFBTH', 'DIFDRS', 'DIFEAT', 'DIFCHR', 'DIFWLK', 'DIFTOL', 'PHYHTH', 'MENHTH', 'PORHTH', 'CPNEXR', 'CPNRST', 'SOBFLT', 'SOBSIT', 'SOBWLK', 'SOBSTR', 'NMBFET', 'TINGFT', 'DECSNS', 'DECHEL', 'ARTHPN', 'RDNEWP', 'HRMOST', 'HIGHBP', 'ANGCAD', 'CHF', 'AMI', 'OTHHRT', 'STROKE', 'COPD_E', 'GI_ETC', 'ATHHIP', 'ATHHAN', 'OSTEOPO', 'SCIATC', 'DIABET', 'ANYCAN', 'COLNCA', 'LUNGCA', 'BRSTCA', 'PROSCA', 'BACKPN', 'FELTSD', 'DEPMCH', 'DEP2YR', 'DEPWK', 'CMPHTH', 'SMKFRQ', 'URNLKG', 'URNMAG', 'URNDOC', 'URNTRT', 'PAOTLK', 'PAOADV', 'BALTLK', 'FELL12MO', 'BAL12MO', 'FALLTLK', 'OSTTEST', 'WHOCMP', 'SRVDSP', 'RNDNUM', 'PCTCMP', 'COHORT', 'PLREG', 'SVLANG']

In [26]:
#Work preliminarily with smaller sample
profiles = pd.read_sql('SELECT * FROM HOS_PROFILE LIMIT 10000', conn)
profiles.head(3)

# close connection
conn.close()

,CASE_ID,AGEGRP,RACE,GENDER,MRSTAT,EDUC,BMI,GENHTH,MODACT,CLMBSV,...,BAL12MO,FALLTLK,OSTTEST,WHOCMP,SRVDSP,RNDNUM,PCTCMP,COHORT,PLREG,SVLANG
0,C01000060,3,NaN,2,1,1,1,4,2,2,...,1,1,1,1,M10,M1,97.3,C15,8,1
1,C01000074,3,NaN,2,2,1,2,2,2,3,...,1,1,1,1,M10,M1,90.5,C15,8,1
2,C01000140,3,1,1,1,2,1,3,3,3,...,2,1,2,1,T10,T1,100.0,C15,4,1

# 1 - DATA INSPECTION

*Look for general patterns in data spread*

# 2 - EXPLORE